:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card
{
  margin-top: 20px;
  margin-bottom: 20px;

  min-width: 450px;
  min-height: 650px;

  width: 450px;
  height: 650px;


  display: flex;
  flex-direction: column;
  align-items: center;
}

.input
{
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  width: 400px;
}

.button
{
  margin-top: 20px;
  vertical-align:bottom;
  width: 150px;
}
